/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
    background-color: white;
    /*font: 13.34px verdana, arial, clean, sans-serif;*/
    /*font: 13.34px arial, clean, sans-serif;*/
    font: 20px 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    color: #555;
    font-size: small;
    text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 100%;
}

h4 {
  font-size: 90%;
}

h5 {
  font-size: 80%;
}

h6 {
  font-size: 70%;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #ff6600;
  font-weight: bold;
}

/*
a:hover {
  color: #cccccc;

}*/

a:visited {
  color: #ff6600;
  font-weight: normal;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 120%;
  text-align: justify;
  width: 80%;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
    color: #ff6600;
    font-weight: bold;
    font-size: 36px;
    font-family: "Arial black",Arial, Helvetica, Sans-Serif;
    margin-bottom: 2em;
}

  .site .title a {
    color: #ff6600;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    font-family: Monaco, "Courier New", monospace;
    border: 1px solid #ddd;
    background-color: #F8F8F8;
    /*border-left: 3px solid #BBB;*/
    padding: 0 .4em;
      margin: 15px;
  }

  #post ul,
  #post ol {
    margin: 10px;
    margin-left: 1.35em;
  }

  #post code {
    font-family: Monaco, "Courier New", monospace;
    border: 1px solid #ddd;
    background-color: #F8F8F8;
    /*border-left: 4px solid #BBB;*/
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {

      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }