---
layout: default
title: K33G_ORG
---

<div id="home">
    {% for post in site.posts limit:1 %}
        <h1>{{ post.date | date_to_string }} : {{ post.title }}</h1><br>
        {{ post.content }}
        <br>
        <a href="{{ post.url }}">comments</a>
    {% endfor %}
    <div>
        <br>
        <h2>Blog Posts (last 10)</h2>
        <ul class="posts">
            {% for post in site.posts limit:10 %}
              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> <br>
                  {{ post.info }}</li>
            {% endfor %}
        </ul>
        <br>
        <b><a href="all.html">... all posts >>></a></b>
    </div>

</div>