---
layout: default
title: K33G_ORG
---

<div id="home">
	<g:plusone size="medium"></g:plusone>
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="k33g_org">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <div id="post">
        {% for post in site.posts limit:3 %}

            <h3>{{ post.date | date_to_string }}</h3>

            <a href="{{ post.url }}">comments &raquo;</a>
            {{ post.content }}
            <br>
            <a href="{{ post.url }}">comments &raquo;</a>
            <br>
            <hr style="border: 1px; border-color: #cccccc; border-style: dashed; ">
            <br>
        {% endfor %}
    </div>

    <div>
        <h3>Blog Posts (last 5)</h3>
        <ul class="posts">
            {% for post in site.posts limit:5 %}
              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        <b><a href="http://k33g.github.com/all.html">... all posts &raquo;</a></b>
    </div>

</div>
