<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="k33g" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
    <div class="title">
        <a href="/">K33G_ORG's blog</a>
        <!--<a class="extra" href="/">home</a>-->
    </div>

    {{ content }}
  
    <div class="footer">
        <div class="contact">
            <p>
            K33G_ORG<br />
            </p>
        </div>
        <div class="contact">
            <p>
                <a href="http://github.com/k33g/">github.com/k33g</a><br />
                <a href="http://twitter.com/k33g_org/">@k33g_org</a><br />
            </p>
        </div>

        <div class="rss">
            <a href="http://feeds.feedburner.com/K33g_orgsBlog">
                <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
            </a>
        </div>
    </div>

    <!--
    <div class="footer">
        <p>
            <a href="http://lescastcodeurs.com"><img border="0" alt="J'ecoute les Cast Codeurs" src="http://lescastcodeurs.com/img/jecoute_les_castcodeurs_200px.png" /></a>
        </p>
        <p>
            <a href="http://www.viadeo.com/fr/profile/philippe.charriere1"><img src="http://static0.viadeo-static.com/v_img14/profile/promotion/black/button_profile_fr.png" border="0" /></a>
        </p>
    </div>
    -->

</div>

<a href="https://github.com/k33g/k33g.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_black_aa0000.png" alt="Fork me on GitHub" /></a>


<!-- Google Analytics -->
<script type="text/javascript">

</script>
<!-- Google Analytics end -->

</body>
</html>