<!DOCTYPE html>
<html>
<head lang="en">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="k33g" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/js/bower_components/uikit/dist/css/uikit.almost-flat.min.css" />

  <style>
    .jumbotron {
      background-color: #444444;
      border-radius: 0px;
      padding: 10px 30px;
    }
  </style>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/default.min.css">

  <!-- Google G+ -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>


</head>
<body>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

  <nav class="uk-navbar uk-margin-large-bottom">
    <a class="uk-navbar-brand uk-hidden-small" href="http://k33g.github.io/">K33G_ORG's Blog</a>
    <ul class="uk-navbar-nav uk-hidden-small">
      <li>
        <a href="https://twitter.com/k33g_org">@k33g_org</a>
      </li>
      <li>
        <a href="http://feeds.feedburner.com/K33g_orgsBlog">rss</a>
      </li>
      <li>
        <a href="/all.html">Tous les articles</a>
      </li>
      <li>
        <a href="http://www.k33g.org/">Ma pomme</a>
      </li>
      <li>
        <a href="https://github.com/k33g">Github</a>
      </li>
    </ul>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">K33G_ORG's Blog</div>
  </nav>

  <div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-medium-3-4">
      <!-- comment faire un résumé de l'article ou du partial???-->

      {{ content }}

      <!--
      <ul class="uk-pagination">
        <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        <li class="uk-active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><span>...</span></li>
        <li><a href="#">20</a></li>
        <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
      </ul>
      -->

    </div>

    <div class="uk-width-medium-1-4">
      <div class="uk-panel uk-panel-box uk-text-center">
        <img class="uk-border-circle" width="120" height="120" src="/images/k33g_org.jpg" alt="">
        <h3>@k33g_org</h3>
        <p>A difficult double life : by day, i'm "enterprise advocate", at night, some call me K33gorg</p>
      </div>
      <div class="uk-panel">
        <h3 class="uk-panel-title">Les 10 derniers articles</h3>
        <ul class="uk-list uk-list-line">
          {% for post in site.posts limit:10 %}
          <li><small><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></small></li>
          {% endfor %}
        </ul>
      </div>

      <div class="uk-panel">
        <h3 class="uk-panel-title">Tutos</h3>
        <ul class="uk-list uk-list-line">
          <li><small><a href="http://e-books.github.io/je.decouvre.angular/">Je découvre Angular</a></small></li>
          <li><small><a href="http://e-books.github.io/preparer.son.projet.js/">Préparer son projet JS</a></small></li>
          <li><small><a href="http://e-books.github.io/backbone.en.douceur/">1 "Gros" tuto Backbone</a></small></li>
          <li><small><a href="http://3monkeys.github.com/play.rules/livre.play.deux.web/play2.rules.return.html">
            Play!► 2 en douceur</a></small></li>
          <li><small><a href="http://3monkeys.github.com/play.rules/livre.play.un.web/play.rules.one.html">
            Apprendre Play!► 1</a></small></li>
        </ul>
      </div>


    </div>
  </div>

</div>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11383603-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics end -->

</body>
</html>


