<!DOCTYPE html>
<html>
<head lang="en">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="k33g" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <!--
  <link rel="stylesheet" href="/js/bower_components/uikit/dist/css/uikit.almost-flat.min.css" />
  -->
  <link rel="stylesheet" href="/js/bower_components/semantic/dist/semantic.min.css" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/default.min.css">
  <link rel="stylesheet" href="/css/screen.css">


  <!-- Google G+ -->
  <!--
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  -->

  <script type="text/javascript" src="/js/bower_components/semantic/dist/semantic.min.js"></script>
  <script type="text/javascript" src="/js/bower_components/jquery/jquery.min.js"></script>


</head>
<body>

<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <!--
      <img class="logo" src="assets/images/logo.png">
      -->
      K33G_ORG's Blog
    </a>
    <!--
    href="http://k33g.github.io/"
    -->
    <a href="http://k33g.github.io/" class="item">Home</a>
    <a href="https://twitter.com/k33g_org" class="item">@k33g_org</a>
    <a href="http://feeds.feedburner.com/K33g_orgsBlog" class="item">rss</a>
    <a href="/all.html" class="item">All posts</a>
    <a href="http://www.k33g.org/" class="item">Me</a>
    <a href="https://github.com/k33g" class="item">Github</a>

  </div>
</div>

<div class="ui container" style="padding-top:5%; padding-bottom:5%">
  {{ content }}
</div>


<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="six wide column">
        <h4 class="ui inverted header">Last 6 posts</h4>
        <div class="ui inverted link list">

          {% for post in site.posts limit:6 %}
            <a href="{{ post.url }}" class="item">{{ post.date | date_to_string }}: {{ post.title }}</a>
          {% endfor %}

        </div>
      </div>

      <div class="seven wide column">
        <img class="uk-border-circle" width="120" height="120" src="/images/k33g_org.jpg" alt="">
        <h4>@k33g_org</h4>
        <p>A difficult double life : by day, i'm SE @ GitHub, at night, some call me K33gorg</p>
      </div>
    </div>

  </div>
</div>


<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11383603-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Google Analytics end -->

</body>
</html>
